@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-wedkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Verdana, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.masthead {
  padding: 1em;
  margin: 0;
}

.logo {
  display: block;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

.img-flex {
  width: 100%;
  display: block;
}

.nav-top {
  padding: 1em;
  margin: 0;
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  text-align: center;
}

.nav-top li {
  color: lightblue;
  padding: 0 0.5em;
  display: inline-block;
}

.nav-top a,
.nav-top:link,
.nav-top:visited {
  text-decoration: none;
  color: black;
}

.image-wrapper {
  position: relative;
  width: 100%;
  background-image: url(../images/bus.jpg);
  padding-top: 95%;
  background-size: cover;
  background-position: center;
  padding-bottom: 1em;
}

.image-wrapper-one {
  position: relative;
  width: 100%;
  background-image: url(../images/fox.jpg);
  padding-top: 105%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.image-wrapper-two {
  position: relative;
  width: 100%;
  background-image: url(../images/fox.jpg);
  padding-top: 105%;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.abouts {
  font-size: 4em;
  color: yellow;
  color: rgba(255, 255, 0, 0.85);
  position: relative;
  z-index: 100;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 2.5em;
}

.nav-bottom {
   background-color: yellow;
   padding: 1em
}

.nav-bottom ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  text-align: center;
}

.nav-bottom li {
  color: lightblue;
  padding: 0 0.5em;
  display: inline-block;
}

.nav-bottom a,
.nav-bottom:link,
.nav-bottom:visited {
  text-decoration: none;
  color: black;
}

.aboutpage {
  display: inline-block;
}

.selfie {
  width: 100%;
  padding: 2em;
  margin: 0;
}

.aboutme {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}

.aboutmetwo {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
}

h3 {
  padding-top: 1em;
  padding-left: 1em;
  font-weight: bold;
}

.descriptions {
  font-weight: normal;
  padding-left: 2em;
  padding-right: 2em;
}

@media only screen and (min-width: 48em) {

  .masthead {
    padding: 0;
  }

  .logo {
    width: 12rem;
    margin: 1em;
    padding: 0;
  }

  .nav-top {
    padding-top: 3em;
    margin: 0;
  }

  .nav-top ul {
    text-align: right;
  }

  .abouts {
    font-size: 8em;
    top: 2em;
  }

  .image-wrapper {
    padding-top: 104%;
  }

  .image-wrapper-one {
    padding-top: 80%;
  }

  .image-wrapper-two {
    padding-top: 80%;
  }
